<div class="mt-2 p-2 bg-white rounded-lg">
  <p class="mt-1"><%= followup.question %></p>
</div>
<div class="card mt-2 p-2 bg-white rounded-lg border border-2 border-secondary">
  <p class="font-semibold mt-2">「TOMONIくん」:</p>
  <div class="mt-1 whitespace-pre-line"><%= simple_format(followup.response) %></div>
</div>