<span class="text-center text-xl font-bold flex justify-center items-center gap-2 mt-2 mb-4">
  <h1>TOMONIとは。</h1><i class="fas fa-seedling"></i>
</span>

<div class="card bg-white card-compact shadow-sm p-4 gap-2 border border-blue-200 mb-2">
  <span class="flex items-center justify-center gap-2 mb-2 text-center text-lg font-bold">
    <h2>このサービスへの思い</h2><i class="fas fa-gift"></i>
  </span>
  <p class="leading-relaxed">
    このサービスは、<br>
    <i class="font-bold">保護犬と犬を迎えた飼い主さんが安心して生活できるようサポートすること</i><br>
    を目的としています。<br>
    飼い主同士の情報交換やAIとの相談機能を通じて、犬と飼い主が幸せに暮らせるお手伝いをします。
  </p>
  <p class="leading-relaxed mt-2">
    私自身、保護犬を迎えた経験があります。<br>
    新しい環境に馴染めず体調を崩したり、私が出かけるとずっと吠え続けたり、皮膚にできものを見つけて「これは前からあったもの？病院に行くべきかな？」と不安になることが多くありました。
    <br>
    そんな時、「譲渡元の保護団体に相談したい」、「他の飼い主さんがどうしているか知りたい」と思いました。
    しかし、相談のハードルは高く、悩みや不安を気軽に共有できる場所があればいいのにと感じました。<br>
    実際に、迎えた後に様々な理由で再度保護犬に戻ってしまうことも少なくありません。<br>
    悩みや不安が原因で飼い主さんが孤立し、最悪の場合、保護犬がまた不幸な境遇に戻ってしまうことを防ぎたいと強く感じました。
  </p>
  <p class="leading-relaxed mt-2">
    <i class="font-bold">「保護犬を迎えること」だけでなく、「暮らし続けること」</i>をサポートしたい。<br>
    その思いからこのサービスを作りました。
  </p>
</div>
<div class="card bg-white card-compact shadow-sm p-4 gap-2 border border-blue-200 mb-2">
  <span class="flex items-center justify-center gap-2 mb-2 text-center text-lg font-bold">
    <h2>投稿（お悩み相談<i class="far fa-comment-dots"></i>・日記<i class="far fa-edit"></i>）の使い方</h2>
  </span>
  <p class="leading-relaxed">
    飼い主さん同士で日常や悩みを共有できます。<br>
    投稿は「日記」と「お悩み相談」に分かれています。
  <ul>
    <li><i class="far fa-comment-dots"></i> <i class="font-bold">日記</i>：愛犬との日常や成長記録を投稿。非表示にもできて自分だけの記録とすることもできます。</li>
    <li><i class="far fa-edit"></i> <i class="font-bold">お悩み相談</i>：悩みや困ったことを投稿し、他の飼い主さんからアドバイスを受ける。</li>
  </ul>
  投稿は自由にコメントやリアクションもできます。
  </p>
</div>
<div class="card bg-white card-compact shadow-sm p-4 gap-2 border border-blue-200 mb-2">
  <span class="flex items-center justify-center gap-2 mb-2 text-center text-lg font-bold">
    <h2>チャットの使い方</h2><i class="far fa-envelope"></i>
  </span>
  <p class="leading-relaxed">
    お話したい、困ったことや相談したいとき、チャット機能をご利用ください💭
  <ul>
    <li>🔵 <i class="font-bold">フォロー一覧</i>からチャットしたい人を選ぶ</li>
    <li>🔵 チャットしたい人の<i class="font-bold">プロフィール</i>から「チャットする」ボタンをクリック</li>
  </ul>
  通知も来るようになっています🔔
  </p>
</div>
<div class="card bg-white card-compact shadow-sm p-4 gap-2 border border-blue-200 mb-2">
  <span class="flex items-center justify-center gap-2 mb-2 text-center text-lg font-bold">
    <h2>AI「TOMONIくん」の使い方</h2><i class="fas fa-dog"></i>
  </span>
  <p class="leading-relaxed">
    AITOMONIくんは、あなたの愛犬の性格や行動の傾向に合わせてアドバイスを提供するAI機能です。<br>
    保護犬のお悩みに特化しているのでぜひ参考にしてみてください🐕
  <ul>
    <li>🔵 最初はフォームに沿って相談してみてください。</li>
    <li> 🔵そのあとの追加質問も可能です！</li>
    <li> 🔵前の質問の続きをしたい場合は、「前の相談から選択」ボタンを押してください。</li>
  </ul>
  </p>
</div>
<div class="card bg-white card-compact shadow-sm p-4 gap-2 border border-blue-200">
  <span class="flex items-center justify-center gap-2 mb-2 text-center text-lg font-bold">
    <h2>よくある質問（FAQ）</h2>
  </span>
  <p class="leading-relaxed">
    <i class="font-bold">Q. ログインしていなくても使えますか？</i><br>
    → A. 一部可能です。お悩み相談を閲覧、いぬのきもち診断はログインなしでも使えます。
    <hr>
    <i class="font-bold">Q. チャットの履歴は見られますか？<br></i>
    → A. チャットは履歴もさかのぼれます。チャット内容はログインしているユーザーのみ閲覧可能です。
    <hr>
    <i class="font-bold">Q. AI「TOMONIくん」のアドバイスは必ず正しいですか？<br></i>
    → A. AIの提案は参考情報です。必要に応じて保護団体や獣医師にも相談してください。
    <hr>
    <i class="font-bold">Q. アプリは無料で使えますか？<br></i>
    → A. はい、すべて無料で利用可能です。
  </p>
</div>