<div class="swiper-wrapper">
  <% diary.images.each do |image| %>
  <div class="swiper-slide flex justify-center items-center">
    <%= image_tag image.variant(resize_to_fill: [size, size]), class: "w-full h-auto max-w-full object-cover sm:max-w-[#{size}px] sm:max-h-[#{size}px]" %>
  </div>
  <% end %>
</div>
<% if diary.images.count > 1 %>
<div class="custom-prev-btn"><i class="fas fa-chevron-left"></i></div>
<div class="custom-next-btn"><i class="fas fa-chevron-right"></i></div>
<% end %>
<div class="swiper-pagination"></div>