<% content_for(:title, t('.title')) %>
<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="flex flex-col text-center mb-6 w-full">
    <h1 class=" text-xl font-medium text-left">
      <i class="far fa-edit"></i>うちの子日記:編集
    </h1>
    <%= render "form", diary: @diary %>
  </div>
</div>