<% unread_count = notifications.unread.size %>
<% if unread_count.positive? %>
<span class="absolute top-0 right-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-white bg-red-400 rounded-full">
  <%= unread_count %>
</span>
<% end %>