<div class="card bg-white shadow-xl max-w-lg sm:max-w-md md:max-w-[1100px] mx-auto">
  <figure>
    <%= image_tag "top.png", class: "max-w-[600px] w-full object-contain mx-auto", alt: "トップ画像" %>
  </figure>
  <div class="card-body items-center text-center">
    <p class="card-title text-blue-300">
      保護犬を迎えた後も<br>
      幸せに「ともに」暮らせるように
    </p>
    <br>
    <p>保護犬と、保護犬と暮らす飼い主を、日々の悩みや不安から支えるサポートアプリです。
      <br>飼い主同士のコミュニティ機能、AIによる保護犬の性格や行動に合わせたアドバイス機能を通じて、
      <br>気軽に相談・共有ができます。
    </p>
    <div class=" card-actions justify-end">
    </div>
  </div>
</div>