<main class="flex-1 p-1">
  <div class="card bg-white shadow-xl w-[calc(100%-1rem)] sm:w-[calc(100%-2rem)] md:max-w-md lg:max-w-lg xl:max-w-xl mx-auto mt-6">
    <figure class="mt-2 mb-0">
      <%= image_tag "top.png",
        class: "max-w-[400px] sm:max-w-[400px] md:max-w-[500px] lg:max-w-[500px] xl:max-w-[600px] mx-auto object-contain",
        alt: "トップ画像" %>
    </figure>
    <div class="card-body items-center text-center p-4">
      <p class="card-title text-blue-300 mb-2">
        保護犬を迎えた後も<br>
        幸せに「ともに」暮らせるように
      </p>
      <p class="mb-0 text-sm sm:text-base md:text-base lg:text-lg">
        保護犬と、保護犬と暮らす飼い主を、
        <br>日々の悩みや不安から支えるサポートアプリです。
        <br>飼い主同士のコミュニティ機能、AIによる保護犬の性格や行動に合わせたアドバイス機能を通じて、
        <br>気軽に相談・共有ができます。
      </p>
    </div>
  </div>
</main>