<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="flex flex-col text-center mb-6 w-full">
    <h1 class=" text-xl font-semibold text-left">
      <i class="far fa-id-card"></i>うちの子編集
    </h1>
    <%= render "form", dog_profile: @dog_profile %>
  </div>
</div>