<div class="w-full sm:w-full md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto mt-6">
  <div class="card bg-white flex flex-col items-center justify-center text-center shadow-md w-[calc(100%-1rem)] sm:w-[calc(100%-2rem)] md:max-w-md lg:max-w-lg xl:max-w-2xl mx-auto h-96">
    <h1 class="text-xl font-bold p-4">
      <i class="far fa-heart"></i> уБДуБмуБоуБНуВВуБбши║цЦн <i class="far fa-heart"></i>
    </h1>
    <h2 class="text-center mt-4 mb-6"> 5уБдуБош│кхХПуБлчнФуБИуБжуАБ<br>
      уБВуБкуБЯуБоуГпуГ│уБбуВГуВУуБоц░ЧцМБуБбуВТчЯеуВНуБЖЁЯР╢
    </h2>
    <%= link_to dog_diagnosis_questions_path, class: "btn btn-secondary" do %>
    ши║цЦнуВТхзЛуВБуВЛ
    <% end %>
  </div>
</div>
</div>