<% content_for(:title, t('.title')) %>

<div class="flex flex-col text-center mb-6 w-full">
  <h1 class=" text-xl font-semibold text-left mb-2">
    <i class="fas fa-dog"></i>AI「TOMONIくん」に相談
  </h1>
  <% if @past_consultations %>
  <%= link_to ai_consultations_path, class: "ml-auto btn btn-secondary" do %>
  <i class="far fa-folder-open"></i> 前の相談から選択
  <% end %>
  <% end %>
  <p class="mb-4">4つの質問に答えて相談してください🐕<br>
    すべて入力しなくてもTOMONIくんは答えてくれますが、<br>
    入力したほうがより正確なアドバイスがもらえます💡
  </p>
  <!-- 初回フォーム -->
  <%= render "form", ai_consultation: @ai_consultation %>
</div>
<!-- 初回アドバイス -->
<div id="advice_container">
</div>
<!-- チャット履歴 -->
<div id="chat-container">
</div>
<!-- 追加フォーム -->
<div class="w-full">
  <%= turbo_frame_tag "ai_followup_form" do %>
  <% end %>
</div>