<p><%= @email %>様</p>

<p>こんにちは！「TOMONI」へのご登録ありがとうございます🐾</p>
<p>TOMONIは保護犬とその飼い主の方がともに幸せに暮らせることを目的にしたサービスです🐕</p>

<p>下記のリンクをクリックすると認証が完了します。</p>

<%= link_to "TOMONIの登録でお間違えなければここをクリックしてください", user_confirmation_url(confirmation_token: @token) %>

<p>※このリンクは24時間以内に有効です。<br>
  もしこのメールにお心当たりがない場合は、破棄してください。</p>

<p>――――――――――<br>
  TOMONI<br>
  <a href="https://tomoni-dogs.com">https://tomoni-dogs.com</a>
</p>