<%= @email %>様
<p>TOMONIのパスワード再設定メールです。</p>

<p>下記のリンクをクリックするとパスワードの再設定画面に進みます。</p>


<%= link_to "パスワード再設定画面へ", user_edit_password_url(reset_password_token: @token) %>

<p>お心当たりがない方はこのメールを削除して下さい。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>TOMONI</p>