<%= @email %>様
<p>TOMONIのパスワード再設定メールです。</p>

<p>下記のリンクをクリックするとパスワードの再設定画面に進みます。</p>


<%= link_to "パスワード再設定画面へ", edit_user_password_url(reset_password_token: @token) %>

<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>※このリンクは24時間以内に有効です。<br>
  もしこのメールにお心当たりがない場合は、破棄してください。</p>

<p>――――――――――<br>
  TOMONI<br>
  <a href="https://tomoni-dogs.com">https://tomoni-dogs.com</a>
</p>