<p><%= @email %>様</p>
<p>TOMONIのパスワード再設定メールです。</p>
<p>TOMONIは保護犬とその飼い主の方がともに幸せに暮らせることを目的にしたサービスです。</p>

<p>下記のリンクをクリックするとパスワードの再設定画面に進みます。</p>


<p><%= link_to "パスワード再設定画面へ", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>お心当たりがない方はこのメールを削除して下さい。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>